# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/oblig6/frontend/node_modules
/oblig6/backend/node_modules
/.pnp
.pnp.js
/oblig6/frontend/yarn-lock.json
/oblig6/backend/yarn-lock.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
oblig6/Backend/.vscode/settings.json
oblig6/Backend/yarn.lock
oblig6/frontend/yarn.lock
package-lock.json
package-lock.json
